$active : #eedb0a
$active2 : #fcde2b
*
    box-sizing: border-box


body
    font-family: "Century Gothic", sans-serif
    color: #000

a
    color: inherit

button, input
    font-family: inherit

img
    max-width: 100%
    max-height: 100%